{% extends 'base.html' %}

{% block title %}Resultado da Consulta em Tabela{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<div class="container">
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .btn {
            font-size: 14px;
            padding: 8px 16px;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            color: #fff;
            background-color: #2ab31d;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.2s;
        }
        .btn:hover, .btn:focus {
            background-color: #00b300;
            color: #fff;
            outline: none;
        }
        .table-container {
            overflow-x: auto;  /* Enables horizontal scrolling */
        }
        table {
            width: 100% !important;
            margin-bottom: 0;
        }
    </style>
    <a href='https://taua2024-5674f4a1f8a4.herokuapp.com/' class="btn">Voltar </a><br>
    <h1>Resultados em Tabela</h1>
    <div class="table-container">
        <table id="resultsTable" class="display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    {% for name in column_names %}
                    <th>{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in query_results %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form action="/download_csv" method="post">
        <input type="hidden" name="script" value="{{ request.form.script }}">
        <input type="submit" value="Download CSV">
    </form>
</div>

<script>
$(document).ready(function() {
    if ($.fn.dataTable.isDataTable('#resultsTable')) {
        $('#resultsTable').DataTable().clear().destroy();
    }
    $('#resultsTable').DataTable({
        responsive: false,  // Disable responsive features
        autoWidth: true,
        scrollX: true  // Enable horizontal scrolling
    });
});
</script>

{% endblock %}
